#meditation-date {
    text-align: left;
    font-size: x-large;
    margin-top: 1em;
}

#meditation-title {
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
    margin-bottom: .5em;
}

#meditation-page {
    text-align: center;
    margin-bottom: 1em;
}

#meditation-quote {
    text-align: center;
    font-style: italic;
    font-size: large;
    margin-bottom: 1em;
}

#meditation-quote-source {
    text-align: right;
    margin-bottom: 1em;
}

#meditation-thought {
    font-style: italic;
    margin-left:10%;
    margin-right: 10%;
    margin-bottom: 2em;
    padding-top: 1em;
}

#meditation-copyright {
    font-style: italic;
    text-align: center;
    font-size: small;
    margin-bottom: 1em;
}

#meditation-divider {
    visibility: hidden !important;
}

#meditation-container {
    margin:0 auto;
    font-size: medium;
}

@media (min-width: 750px) and (max-width: 800px) {
    .meditation-rendered-element table {
        width: 85%;
    }
    .meditation-rendered-element body,
    .meditation-rendered-element table {
        font-size: small;
    }
    .meditation-rendered-element h1 {
        font-size: large;
    }
    .meditation-rendered-element h2 {
        font-size: medium;
    }
}

@media (max-width: 480px) {
    .meditation-rendered-element table {
        width: 85%;
    }
    .meditation-rendered-element body,
    .meditation-rendered-element table {
        font-size: small;
    }
    .meditation-rendered-element h1 {
        font-size: medium;
    }
    .meditation-rendered-element h2 {
        font-size: large;
    }
}
